@page
@model StatusCodeMiddleware.Pages._404Model
@{

}

<h1 class="text-danger">404 Error</h1>
<h2 class="text-danger">Could not find the requested page</h2>

<p>
    Please check the specified url
</p>